<mat-toolbar color="primary" class="top-toolbar">
    <span class="brand" (click)="goToHome()">Tinko Travel</span>
  
    <span class="spacer"></span>
  
    <mat-form-field class="search-bar" appearance="outline">
      <mat-label *ngIf="!isFocused">Search</mat-label>    
      <input matInput
      placeholder="Search destinations, ideas..."
      [(ngModel)]="searchText"
      (focus)="onFocus()"
      (blur)="onBlur()" />
      <button mat-icon-button matSuffix>
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  
    <span class="spacer"></span> 
  
    <div class="button-container">
      <button mat-button>En</button>
      <button mat-button>Fav</button>
      <button mat-button>Contact</button>
      <button mat-button>Login</button>
    </div>
    <button mat-raised-button color="accent" class="cart-button" (click)="goToCart()">Cart</button>
  </mat-toolbar>
  
  <mat-toolbar color="accent" class="second-toolbar">
    <div class="nav-container">
      <button mat-button class="nav-button">Destination</button>
      <button mat-button class="nav-button">Inspiration</button>
      <button mat-button class="nav-button">Chauffeur Service</button>
      <button mat-button class="nav-button">News</button>
      <button mat-button class="nav-button">About us</button>
    </div>
  </mat-toolbar>

<!-- This is where routed components will appear -->
<router-outlet></router-outlet>